


.logo {
    height: 2.5rem;
    margin-right: .5rem;
}

.menu-item {
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #C8C8C8;
    color: darkgrey;
    padding: 20px;
}

a {
    text-decoration: none;
}

.menu-item:hover {
    background-color: whitesmoke;
}

.sidebar {
    padding: 20px;
    width: 20%;
    height: 100vh;
    position: sticky;
    background-color: whitesmoke;
}

.page-display {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button {
    width: 40vh;
    background-color: whitesmoke;
    color: black;
    border: none;
    display: flex;
    justify-content: left;
}

.yellow {
    background-color: #fff6c2;
    color:black;
}

.button.yellow:hover {
    background-color: #eee6b2;
    color: black;
}

.button:hover {
    background-color: #C8C8C8;
    color: black;
}

.icon {
    height: 30px;
    border-radius: 100px;
    background-color: white;
    margin-right: 10px;
}

.modal-open .modal-backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}